^XA~TA000~JSN^LT0^MNW^MTT^PON^PMN^LH0,0^JMA^PR5,5~SD15^JUS^LRN^CI0^XZ
^XA
^MMT
^PW320
^LL0240
^LS0
^BY2,3,101^FT4,114^BCN,,N,N
^FD>:{{ barcode }}^FS
^FT188,231^A0N,17,16^FH\^FDPrinted by: LARGO^FS
^FT58,170^A0N,39,38^FH\^FD{{ text }}^FS
^PQ1,0,1,Y^XZ