﻿CT~~CD,~CC^~CT~
^XA~TA000~JSN^LT0^MNW^MTT^PON^PMN^LH0,0^JMA^PR5,5~SD15^JUS^LRN^CI0^XZ
^XA
^MMT
^PW599
^LL0400
^LS0
^FT108,340^A0B,68,67^FH\^FD{{date}}^FS
^FT180,358^BQN,2,15
^FH\^FDLA,{{barcode}}^FS
^FT525,340^A0B,45,45^FH\^FD{{outerlabel}}^FS
^PQ1,0,1,Y^XZ
