CT~~CD,~CC^~CT~
^XA~TA000~JSN^LT0^MNW^MTT^PON^PMN^LH0,0^JMA^PR6,6~SD15^JUS^LRN^CI0^XZ
^XA
^MMT
^PW799
^LL1199
^LS0
^FO11,142^GB778,0,3^FS
^FO398,344^GB0,136,6^FS
^FO11,476^GB389,0,6^FS
^FO16,341^GB783,0,3^FS
^FO10,944^GB786,0,4^FS
^FO298,1093^GB498,0,3^FS
^FO291,954^GB0,224,4^FS
^FO397,144^GB0,196,1^FS
^FT709,84^A0I,45,43^FH\^FDPacking Date :^FS
^FT746,970^A0I,39,38^FH\^FD{{gate_name}}^FS
^FT724,197^A0I,45,48^FH\^FD{{weight}}^FS
^FT328,195^A0I,45,48^FH\^FD{{volume}}^FS
^FT693,286^A0I,45,48^FH\^FDWeight :^FS
^FT291,287^A0I,45,48^FH\^FDVolume :^FS
^FT747,878^A0I,28,28^FH\^FDNo Packing :^FS
^FT747,774^A0I,28,28^FH\^FDDelivery To:^FS
^FT743,1034^A0I,39,38^FH\^FD{{gate_code}}^FS
^FT757,610^A0I,34,33^FH\^FD{{Destination Name}}^FS
^FT736,708^A0I,39,40^FH\^FD{{Destination Code}}^FS
^FT760,516^A0I,34,33^FH\^FD{{Destination Address}}^FS
^FT372,62^A0I,73,50^FH\^FD{{date}}^FS
^FT705,838^A0I,28,28^FH\^FD{{Packing_no}}^FS
^FT52,1171^BQN,2,9
^FH\^FDLA,{{barcode}}^FS
^FT777,1121^A0I,42,24^FH\^FDPT. NISSAN MOTOR DISTRIBUTOR INDONESIA^FS
^FT387,425^A0I,42,43^FH\^FDColly :^FS
^PQ1,0,1,Y^XZ
