﻿CT~~CD,~CC^~CT~
^XA~TA000~JSN^LT0^MNW^MTT^PON^PMN^LH0,0^JMA^PR5,5~SD15^JUS^LRN^CI0^XZ
^XA
^MMT
^PW599
^LL0400
^LS0
^FO295,2^GB0,395,1^FS
^FO444,1^GB0,92,1^FS
^FO151,4^GB0,395,1^FS
^FO297,93^GB300,0,1^FS
^FO1,200^GB297,0,1^FS
^FT340,370^BQN,2,10
^FH\^FDLA,{{barcode}}^FS
^FT420,60^A0I,18,18^FH\^FDColor Code Bin^FS
^FT124,61^A0I,44,43^FH\^FD{{bin}}^FS
^FT99,149^A0I,28,28^FH\^FDBIN^FS
^FT580,60^A0I,18,18^FH\^FDColor Code Level^FS
^FT600,370^A0I,22,22^FH\^FD{{text}}^FS
^FT269,61^A0I,44,43^FH\^FD{{level}}^FS
^FT263,149^A0I,28,28^FH\^FDLEVEL^FS
^FT125,263^A0I,44,43^FH\^FD{{rack}}^FS
^FT271,263^A0I,44,43^FH\^FD{{row}}^FS
^FT112,346^A0I,28,28^FH\^FDRACK^FS
^FT253,347^A0I,28,28^FH\^FDROW^FS
^PQ1,0,1,Y^XZ
