.logo-default{
	width: 120px;
	margin: 22.5px 0 0 !important;
}

.filter-container .portlet-body{
	padding-top: 20px !important;
}

.filter-container .form-group{
	margin-bottom: 0;
}

.filter-container .form-actions{
	margin-top: 30px;
}

.filter-indicator{
	color: #fff !important;
	position: relative;
	top: -3px !important;
}

.filter-indicator:active, .filter-indicator:focus{
	text-decoration: none !important;
}

.clear-date{
	position: relative !important;
	top: 6px !important;
	left: -38px !important;
}

.min-width120{
	min-width: 120px;
}

.top5{
	margin-top: 5px !important;
}

.top9{
	margin-top: 9px !important;
}

.top10{
	margin-top: 10px !important;
}

.top15{
	margin-top: 15px !important;
}

.top20{
	margin-top: 20px !important;
}

.top30{
	margin-top: 30px !important;
}

.top40{
	margin-top: 40px !important;
}

.bottom0{
	margin-bottom: 0 !important;
}

.bottom5{
	margin-bottom: 5px;
}

.bottom10{
	margin-bottom: 10px;
}

.paddingright0{
	padding-right: 0px !important;
}

.paddingleft0{
	padding-left: 0px !important;
}

.datepicker table td, .datepicker table th, .datetimepicker table td, .datetimepicker table th{
	font-family: 'san-serif', Arial !important;
}

.table .btn {
	margin-right: 0 !important;
}

.table-input{
	text-align: right !important; 
	padding-left: 3px !important; 
	padding-right: 3px !important;
	max-width: 100px !important;
}

.custom-page-title{
	
}

.custom-page-title h1{
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 24px !important;
	color: #3e4f5e;
}

.custom-page-title small{
	font-size: 14px;
	color: #3e4f5e;
}

.dataTable thead{
	background-color: #f2f2f2 !important;
}

/* PAGE DETAIL SECTION */

.detail-caption{
	text-align: center;
}

.detail-caption h1{
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 18px;
	color: #323232;
}

.detail-caption p, .detail-caption table{
	font-size: 13px;
	line-height: 20px;
	color: #333;
}

.detail-caption table td{
	vertical-align: top;
}

.detail-caption .sup-title{
	font-size: 14px;
}

.detail-info{
	color: #333;
	margin-top: 5px;
	font-size: 13px;
	font-weight: normal;
}

.text-left{
	text-align: left;
}

.detail-status{
	text-transform: uppercase;
}

.status-blue{
	color: #4b8df8;
	font-size: 36px;
}

.status-green{
	/*color: #2b8b3a;*/
	color: #15db0a;
	font-size: 36px;
}

.status-red{
	color: #c40303;
	font-size: 36px;
}

.receiving-status{
	color: #4b8df8 !important;
	font-size: 26px !important;
}

.detail-title{
	font-size: 16px !important;
}

.table-info{
	font-size: 12px;
}

.top-info{
	position: relative;
	top: 20px;
	font-size: 12px;
}

.top-info label{
	margin-left: 20px;
	font-weight: bold;
}

table tbody input{
	text-align: right !important;
}

table.table-striped thead{
	background-color: #f2f2f2 !important
}

.f-search .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b{
	display: none !important;
}

.f-search-icon{
	position: relative;
	left: -35px;
	display: block !important;
}

.select2-results__group{
	color: #32c5d2 !important;
}

#global-search{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.dataTables_extended_wrapper .child-table.dataTable{
	width: 90% !important;
	margin: 10px auto !important;
}

#table-list-inb tbody tr .bottom{
	width: 90% !important;
	margin: 0 auto !important;
}

#table-list-inb tbody tr .bottom .dataTables_paginate{
	float: left !important;
}

#table-list tbody tr .bottom{
	width: 90% !important;
	margin: 0 auto !important;
}

#table-list tbody tr .bottom .dataTables_paginate{
	float: left !important;
}

#table-list-item tbody tr .bottom{
	width: 90% !important;
	margin: 0 auto !important;
}

#table-list-item tbody tr .bottom .dataTables_paginate{
	float: left !important;
}


.small-date{
	font-size: 12px;
}

.disabled-link {
	color: #ddd !important;
}

.disabled-link i{
	color: #ddd !important;
}

.select2-container--bootstrap .select2-results__group{
	font-size: 16px !important;
}

.report-table th, .report-table td{
	font-size: 12px !important;
}

.header-report-table{
	background: #fafafa;
}

.table td{
	vertical-align: middle !important;
}

.table td input{
	font-size: 14px !important;
	display: inline-block;
}

/* END PAGE DETAIL SECTION */

/*
a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 4px;	
  background-color: #323232;
  font-size: 12px;
  font-weight: normal;
  */
  /*
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  */
}


.table td a{
	text-decoration: underline !important;
}

.dataTables_extended_wrapper .table.dataTable{
	/*margin: 0 !important;*/
}

.low-qty{
	color: #fff !important;
	text-decoration: none !important;
}

.low-qty:hover{
	text-decoration: none !important;
}

table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3{
	background: #f9fffa !important;
}
